* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  row-gap: 4px;
  column-gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;

}

.header {
  background-color: #393f4d;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.menu ul,
.menu li {
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sidebar {
  grid-row: 2 / 4;
  grid-column: 1/2;
  display: grid;
  row-gap: 50px;
  column-gap: 50px;
  grid-template-rows: repeat(4, 80px);
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-column: 2/3;

}

.nav ul {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.article {
  background-color: #bccbde;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 10px;
  column-gap: 10px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1/3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}